.sidebar{
    @include container;
    max-width: 700px;
    form{
        @include grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 1rem;
        margin: .7rem 0;
        
        @include smallThan (650px){
            grid-template-columns: 1fr;
        }
    }
    select{
        padding: .3rem;
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
        min-width: 300px;
        border-radius: .2rem;
        border: 2px solid black;
        cursor: pointer;

        &:focus{
            border-color: $dark-blue;
        }

        @include smallThan (900px){
            min-width: 200px;
        }
    }

    input[type="text"]{
        padding: .3rem;
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
        min-width: 300px;
        border-radius: .2rem;
        border: 2px solid black;

        &:focus{
            border-color: $dark-blue;
        }

        @include smallThan (900px){
            min-width: 200px;
        }
    }

    h1{
        margin-bottom: .6rem;
        font-weight: 500;
        color: $light-blue;
        text-align: center;
    }

    .button-section{
        @include flex-end;
            button{
                padding: .5rem;
                font-size: 1rem;
                font-weight: 500;
                text-transform: uppercase;
                border: 0;
                background-color: $light-blue;
                cursor: pointer;
                color: $white;
                border-radius: .2rem;
                &:hover{
                    background-color: $dark-blue;
                }
            }
    }
}