.sidebar {
	@include container;
	padding: 0;
	form {
		@include grid;
		grid-template-columns: repeat(4, 1fr) 0.4fr;
		gap: 1rem;
		margin: 1.3rem 0;

		@include smallThan(850px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@include smallThan(750px) {
			grid-template-columns: 1fr 1fr;
		}

		@include smallThan(650px) {
			grid-template-columns: 1fr;
		}
	}
	select {
		padding: 0.3rem;
		font-size: 1rem;
		font-weight: 500;
		width: 100%;
		border-radius: 0.2rem;
		border: 2px solid $gray;
		background-color: $dark-gray;
		cursor: pointer;

		&:focus {
			border-color: $dark-blue;
		}
	}

	input {
		padding: 0.3rem;
		font-size: 1rem;
		font-weight: 500;
		width: 100%;
		background-color: $dark-gray;
		border-radius: 0.2rem;
		border: 2px solid $gray;

		&::placeholder {
			color: $gray;
		}

		&:focus {
			border-color: $dark-blue;
		}
		&::-webkit-calendar-picker-indicator {
			filter: invert(1);
		}
	}

	h1 {
		margin-bottom: 1rem;
		font-weight: 600;
		color: $light-blue;
		text-align: center;
	}

	button {
		padding: 0.5rem;
		font-size: 1rem;
		font-weight: 500;
		text-transform: uppercase;
		border: 0;
		background-color: $light-blue;
		cursor: pointer;
		color: $white;
		border-radius: 0.2rem;
		&:hover {
			background-color: $dark-blue;
		}
	}
}
